/* GENERAL*/

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}



/* NAVBAR DESKTOP */

nav {
    display: flex;
    justify-content: space-between; /* logo left, links right */
    align-items: center;             /* vertically centered */
    background-color: rgb(133,88,208);
    color:white;
    width: 100vw; /* ensures full width */

}

#codify-edu-logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-left: 5rem;
}

#navbar-links {
    list-style: none;   /* removes bullets */
    margin: 0;          /* reset default */
    padding: 0;         /* reset default */
    display: flex;      /* makes links horizontal */
}

nav ul li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 5rem;
    
}

/* COURSE TITLE CONTAINER*/

#course-title-container {
    padding-left: 9rem;
}

#course-title {
font-family: 'Roboto', sans-serif;   
font-weight: 100;
font-size: 36px;
color: rgb(133,88,208);
}

hr {
    border-color: rgb(241,241,241);
    width: 90rem;
    margin-right: 10rem;
}

#semester-info {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

/* BUTTONS */ 

.bttn {
    border: none;
    width: 80px;
    height: 34px;
    border-radius: 4px;
    padding: 6px 12px 6px 12px;
}


/* ANNOUNCEMENTS */

#announcements {
    padding-top: 3rem;
    padding-left: 9rem;
}

#announcements-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;

}

#announcements-list {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

/* CALENDAR */
#calendar {
    padding-top: 3rem;
    padding-left: 9rem;
}

#calendar-table {
    padding-top: 1rem;
}

#current-assignments-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;

}

table {
    table-layout: fixed; /* important: this makes column widths obey your CSS */
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

#calendar-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    padding-top: 1.5rem;
}


.table-data {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}


table td {
    background: rgb(233, 234, 250);
}

table th {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    background: none;
    color: rgb(133,88,208);
}

table td:nth-child(1) {
  width: 57px;
  height: 258px;
  text-align: center;
}
 table td:nth-child(2) {
    text-align: center;
 }

table td:nth-child(3) {
    width: 288px;
    height: 58px;
    text-align: center;
}
