/* GENERAL*/

html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;   /* removes bullets */
    margin: 0;          /* reset default */
    padding: 0;         /* reset default */
    display: flex;      /* makes links horizontal */
}

a {
    text-decoration: none;
    color: white;
}



/* NAVBAR DESKTOP */

nav {
    display: flex;
    justify-content: space-between; /* logo left, links right */
    align-items: center;             /* vertically centered */
    background-color: rgb(133,88,208);
    color:white;
    width: 100vw; /* ensures full width */

}

#codfiy-edu-logo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5rem;
}

nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 5rem;
}

/* COURSE TITLE CONTAINER*/

#course-title-container {
    padding-left: 9rem;
}

hr {
    border-color: rgb(241,241,241);
    width: 90rem;
    margin-right: 10rem;
}


/* ANNOUNCEMENTS */

#announcements {
    padding-top: 3rem;
    padding-left: 9rem;
}



/* CALENDAR */
#calendar {
    padding-top: 3rem;
    padding-left: 9rem;
}

#calendar-table {
    padding-top: 1rem;
}