/* GENERAL*/

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;   /* removes bullets */
    margin: 0;          /* reset default */
    padding: 0;         /* reset default */
    display: flex;      /* makes links horizontal */
}

/* NAVBAR DESKTOP */

nav {
    display: flex;
    justify-content: space-between; /* logo left, links right */
    align-items: center;             /* vertically centered */
    background-color: rgb(133,88,208);
    color:white;
    width: 100vw; /* ensures full width */

    
}

#codfiy-edu-logo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5rem;
}

nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 5rem;
}





